ion-grid{
    padding: 0 15px 0 15px;

    .center{
        text-align: center;
    }

    .justify{
        text-align: justify;
    }

    ion-title{
        padding:10px;
        margin:10px;
    }

    .border_top{
        border-top: white dotted 2px;
    }

    .padding_bottom{
        padding-bottom: 15px
    }
}