<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="characters">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="edit">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Edit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="natif">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Ionic Natif</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
